In [1]:
import pandas as pd

In [2]:
# syntax DataFrame(data, index, columns, dtype, copy)
data = [['A', 10], ['B', 20], ['C', 30]]
df = pd.DataFrame(data)
df
pd.DataFrame()

   0   1
0  A  10
1  B  20
2  C  30

In [3]:
df[0][1]

'B'

In [5]:
data = [['A', 10], ['B', 20], ['C', 30]]
df = pd.DataFrame(data, columns=['Name', 'Id'])
df

  Name  Id
0    A  10
1    B  20
2    C  30

In [10]:
df['Name'][1]

'B'

In [11]:
dic = {
    'Name': ['A', 'B', 'C'],
    'Id': [10, 20, 30]
}
pd.DataFrame(dic)

  Name  Id
0    A  10
1    B  20
2    C  30

In [13]:
#df by csv
df = pd.read_csv('survey_results_public.csv')

In [14]:
df.describe

<bound method NDFrame.describe of        Respondent                                         MainBranch Hobbyist  \
0               1                     I am a developer by profession      Yes
1               2                     I am a developer by profession       No
2               3                        I code primarily as a hobby      Yes
3               4                     I am a developer by profession      Yes
4               5  I used to be a developer by profession, but no...      Yes
...           ...                                                ...      ...
64456       64858                                                NaN      Yes
64457       64867                                                NaN      Yes
64458       64898                                                NaN      Yes
64459       64925                                                NaN      Yes
64460       65112                                                NaN      Yes

        Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0       NaN         13  Monthly        NaN            NaN             Germany
1       NaN         19      NaN        NaN            NaN      United Kingdom
2       NaN         15      NaN        NaN            NaN  Russian Federation
3      25.0         18      NaN        NaN            NaN             Albania
4      31.0         16      NaN        NaN            NaN       United States
...     ...        ...      ...        ...            ...                 ...
64456   NaN         16      NaN        NaN            NaN       United States
64457   NaN        NaN      NaN        NaN            NaN             Morocco
64458   NaN        NaN      NaN        NaN            NaN            Viet Nam
64459   NaN        NaN      NaN        NaN            NaN              Poland
64460   NaN        NaN      NaN        NaN            NaN               Spain

         CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0       European Euro  ...  Neither easy nor difficult  Appropriate in length
1      Pound sterling  ...                         NaN                    NaN
2                 NaN  ...  Neither easy nor difficult  Appropriate in length
3        Albanian lek  ...                         NaN                    NaN
4                 NaN  ...                        Easy              Too short
...               ...  ...                         ...                    ...
64456             NaN  ...                         NaN                    NaN
64457             NaN  ...                         NaN                    NaN
64458             NaN  ...                         NaN                    NaN
64459             NaN  ...                         NaN                    NaN
64460             NaN  ...                         NaN                    NaN

      Trans                                     UndergradMajor  \
0        No  Computer science, computer engineering, or sof...
1       NaN  Computer science, computer engineering, or sof...
2       NaN                                                NaN
3        No  Computer science, computer engineering, or sof...
4        No  Computer science, computer engineering, or sof...
...     ...                                                ...
64456   NaN  Computer science, computer engineering, or sof...
64457   NaN                                                NaN
64458   NaN                                                NaN
64459   NaN                                                NaN
64460   NaN  Computer science, computer engineering, or sof...

            WebframeDesireNextYear                      WebframeWorkedWith  \
0                     ASP.NET Core                    ASP.NET;ASP.NET Core
1                              NaN                                     NaN
2                              NaN                                     NaN
3                              NaN                                     NaN
4             Django;Ruby on Rails                           Ruby on Rails
...                            ...                                     ...
64456                          NaN                                     NaN
64457                          NaN                                     NaN
64458                          NaN                                     NaN
64459  Angular;Angular.js;React.js                                     NaN
64460          ASP.NET Core;jQuery  Angular;Angular.js;ASP.NET Core;jQuery

                                  WelcomeChange WorkWeekHrs YearsCode  \
0       Just as welcome now as I felt last year        50.0        36
1      Somewhat more welcome now than last year         NaN         7
2      Somewhat more welcome now than last year         NaN         4
3      Somewhat less welcome now than last year        40.0         7
4       Just as welcome now as I felt last year         NaN        15
...                                         ...         ...       ...
64456                                       NaN         NaN        10
64457                                       NaN         NaN       NaN
64458                                       NaN         NaN       NaN
64459                                       NaN         NaN       NaN
64460                                       NaN         NaN       NaN

           YearsCodePro
0                    27
1                     4
2                   NaN
3                     4
4                     8
...                 ...
64456  Less than 1 year
64457               NaN
64458               NaN
64459               NaN
64460               NaN

[64461 rows x 61 columns]>

In [15]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [16]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [17]:
df.tail()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [18]:
df.ndim

2

In [19]:
df.shape

(64461, 61)

In [22]:
df["Trans"][1]

nan

In [23]:
df.dtypes

Respondent              int64
MainBranch             object
Hobbyist               object
Age                   float64
Age1stCode             object
                       ...
WebframeWorkedWith     object
WelcomeChange          object
WorkWeekHrs           float64
YearsCode              object
YearsCodePro           object
Length: 61, dtype: object

In [24]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [25]:
df.index

RangeIndex(start=0, stop=64461, step=1)

In [26]:
df.values

array([[1, 'I am a developer by profession', 'Yes', ..., 50.0, '36',
        '27'],
       [2, 'I am a developer by profession', 'No', ..., nan, '7', '4'],
       [3, 'I code primarily as a hobby', 'Yes', ..., nan, '4', nan],
       ...,
       [64898, nan, 'Yes', ..., nan, nan, nan],
       [64925, nan, 'Yes', ..., nan, nan, nan],
       [65112, nan, 'Yes', ..., nan, nan, nan]], dtype=object)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
Respondent                      64461 non-null int64
MainBranch                      64162 non-null object
Hobbyist                        64416 non-null object
Age                             45446 non-null float64
Age1stCode                      57900 non-null object
CompFreq                        40069 non-null object
CompTotal                       34826 non-null float64
ConvertedComp                   34756 non-null float64
Country                         64072 non-null object
CurrencyDesc                    45472 non-null object
CurrencySymbol                  45472 non-null object
DatabaseDesireNextYear          44070 non-null object
DatabaseWorkedWith              49537 non-null object
DevType                         49370 non-null object
EdLevel                         57431 non-null object
Employment                      63854 non-null object
Ethnicity                       45948 non-null object
Gender                          50557 non-null object
JobFactors                      49349 non-null object
JobSat                          45194 non-null object
JobSeek                         51727 non-null object
LanguageDesireNextYear          54113 non-null object
LanguageWorkedWith              57378 non-null object
MiscTechDesireNextYear          42379 non-null object
MiscTechWorkedWith              40314 non-null object
NEWCollabToolsDesireNextYear    47287 non-null object
NEWCollabToolsWorkedWith        52883 non-null object
NEWDevOps                       42686 non-null object
NEWDevOpsImpt                   41732 non-null object
NEWEdImpt                       48465 non-null object
NEWJobHunt                      42286 non-null object
NEWJobHuntResearch              41022 non-null object
NEWLearn                        56156 non-null object
NEWOffTopic                     50804 non-null object
NEWOnboardGood                  42623 non-null object
NEWOtherComms                   57205 non-null object
NEWOvertime                     43231 non-null object
NEWPurchaseResearch             37321 non-null object
NEWPurpleLink                   54803 non-null object
NEWSOSites                      58275 non-null object
NEWStuck                        54983 non-null object
OpSys                           56228 non-null object
OrgSize                         44334 non-null object
PlatformDesireNextYear          50605 non-null object
PlatformWorkedWith              53843 non-null object
PurchaseWhat                    39364 non-null object
Sexuality                       43992 non-null object
SOAccount                       56805 non-null object
SOComm                          56476 non-null object
SOPartFreq                      46792 non-null object
SOVisitFreq                     56970 non-null object
SurveyEase                      51802 non-null object
SurveyLength                    51701 non-null object
Trans                           49345 non-null object
UndergradMajor                  50995 non-null object
WebframeDesireNextYear          40024 non-null object
WebframeWorkedWith              42279 non-null object
WelcomeChange                   52683 non-null object
WorkWeekHrs                     41151 non-null float64
YearsCode                       57684 non-null object
YearsCodePro                    46349 non-null object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [28]:
df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000